@media screen and (min-width: 1200px) {
  section {
    padding: 120px 0;
  }

  .container {
    width: 1158px;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 90px) / 6);
  }

  .customers-link {
    width: 168px;
    height: 88px;
  }
}
