@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }

  .header-list {
    display: flex;
  }

  .header-contacts {
    display: block;
    margin-top: 24px;
    margin-right: 16px;
  }

  .header-contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  .mob-menu,
  .menu-btn {
    display: none;
  }

  .hero-header {
    font-size: 56px;
    line-height: 60px;
  }

  .benefits-section {
    margin: 0 auto;
    max-width: 1000px;
  }

  .benefits-list {
    gap: 24px;
  }

  .benefits-text {
    width: 356px;
  }

  .team-cards {
    gap: 24px;
    row-gap: 56px;
  }

  .customers-list {
    width: 552px;
    margin: 0 auto;
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 60px) / 3);
  }

  .customers-link {
    width: 168px;
    height: 88px;
  }

  .filter-btn {
    padding: 12px 24px;
  }

  .buttons-list {
    justify-content: center;
    gap: 24px;
    padding-bottom: 72px;
    width: 586px;
    margin: 0 auto;
  }

  .portfolio-list {
    flex-wrap: wrap;
    justify-content: left;
    gap: 24px;
    row-gap: 72px;
  }

  .portfolio-card {
    width: 356px;
    height: 420px;
    margin: 0 0;
  }

  .portfolio-img {
    width: 356px;
    height: 300px;
  }

  footer {
    height: 454px;
    position: relative;
  }

  footer .container {
    display: flex;
    flex-direction: row;
  }

  .footer-info {
    margin-left: 93px;
    margin-right: 0;
  }

  .social {
    margin-right: 0;
    margin-left: 24px;
  }

  .subscribe {
    position: absolute;
    top: 278px;
    width: 453px;
    height: 80px;
    margin-left: 93px;
  }

  .subscribe-text {
    position: absolute;
  }

  .subscribe-div {
    position: absolute;
    top: 40px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
  }
}
